.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 13rem;
  height: 13rem;
  border-radius: 0.5rem;
  color: #ffffffb4;
  background-color: #101828;
  transition: 0.2s ease;
  cursor: pointer;
}

.pokemon-card:hover {
  color: #ffffff;
  background-color: #1b2944;
  transform: translateY(-0.5rem);
}

.pokemon-card img {
  width: 8rem;
  height: 8rem;
}
