.pokemon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 13rem;
  height: 13rem;
  border-radius: 0.5rem;
  color: white;
  background-color: #101828;
  cursor: pointer;
}

.pokemon-card:hover {
  background-color: #1b2944;
}

.pokemon-card img {
  width: 8rem;
  height: 8rem;
}
