.win-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 14rem;
  height: 8rem;
  border-radius: 0.25rem;
  color: #16a34a;
  background-color: #101828;
  position: absolute;
  right: calc(50% - 7rem);
  top: calc(50% - 4rem);
}

.win-modal p {
  margin: 0;
  font-size: 1.5rem;
}

.win-modal button {
  width: 6rem;
  height: 2rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  color: #101828;
  background-color: #16a34a;
  border: none;
  cursor: pointer;
}

.win-modal button:hover {
  background-color: #16a34acb;
}
